# Backend related libraries
fastapi
pydantic
uvicorn

# Model related libraries
scikit-learn
# transformers
# torch
joblib
nltk
scipy
numpy

# Other libraries
rake-nltk
bs4
urllib3
typing
requests
dotenv