# Backend related libraries
fastapi
aiohttp
asyncio
pydantic
uvicorn

# Model related libraries
scikit-learn
nltk
numpy

# Other libraries
bs4
typing
requests
python-dotenv
yake
google-generativeai
google-genai

# rake-nltk
# urllib3
# transformers
# torch
# joblib
# scipy